<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>24h de la natation</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,500' rel='stylesheet' type='text/css'>
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="v24hApp">
      <div id="header-img" ng-class="pactive == 'accueil' && 'big'"></div>
      <div id="header" ng-class="pactive == 'accueil' && 'big'">
          <div id="intro">
              <div class="logo">
                  <img src="images/logo_full_trans.png" alt="Logo" />
              </div>
              <div class="date">
                  <h1>19/20 février</h1>
                  <h3>École polytechnique</h3>
              </div>
          </div>
      </div>

    <div class="menu" ng-class="pactive == 'accueil' && 'big'">
        <ul>
            <li ng-class="pactive == 'accueil' && 'active'"><a title="Accueil" href="#/">Accueil</a></li>
            <li ng-class="pactive == 'programme' && 'active'"><a title="Programme" href="#/programme">Programme</a></li>
            <li ng-class="pactive == 'reglement' && 'active'"><a title="Règlement" href="#/reglement">Règlement</a></li>
            <li ng-if="auth.isAuthenticated()" ng-class="pactive == 'inscriptions' && 'active'"><a title="Inscriptions" href="#/inscriptions">Inscriptions</a></li>
            <li ng-if="false"><a title="Photos" href="#/photos">Photos</a></li>
            <li ng-class="pactive == 'contact' && 'active'"><a title="Contact" href="#/contact">Contact</a></li>
            <li ng-class="pactive == 'partenaires' && 'active'"><a title="Partenaires" href="#/partenaires">Partenaires</a></li>
            <li ng-if="!auth.isAuthenticated()" ng-class="pactive == 'connexion' && 'active'"><a title="Connexion" href="#/connexion">Connexion</a></li>
            <li ng-if="auth.isAuthenticated()"><a title="Déconnexion" ng-click="auth.logout()" class="link">Déconnexion</a></li>
        </ul>
    </div>

      <div id="body" ng-class="pactive == 'accueil' && 'big'" ng-view=""></div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/reglement.js"></script>
        <script src="scripts/controllers/programme.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/partenaires.js"></script>
        <script src="scripts/controllers/inscription.js"></script>
        <script src="scripts/controllers/connexion.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/controllers/inscriptions.js"></script>
        <!-- endbuild -->
</body>
</html>
