html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #333;
    color: white;
    font-family: "Ubuntu";
    margin: 0;
    padding: 0;
}
a {
    color: #2daebf;
    text-decoration: none;
}
a:hover {
    color: #007d9a;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    margin-left: 1em;
    margin-left: 1em;
}
.menu li.active {
    border-bottom: 3px solid #007d9a;
}
.menu {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: absolute;
    top: 30%;
    left: 0px;
    width: 100%;
    height: 1.5em;
    background-color: black;
    text-align: center;
}
.menu.big {
    top: 40%;
}
#header-img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 30%;
    background-image: url("../images/fond.jpg");
    background-repeat:no-repeat;
    background-position: center bottom;
}
#header-img.big {
    height: 40%;
}
#header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: calc(30% - 1em);
    background-color: rgba(10, 10, 10, 0.5);
    font-variant: small-caps;
    text-align: center;
    padding-top: 1em;
}
#header.big {
    height: calc(40% - 4em);
    padding-top: 4em;
}
#header #intro {
    display: inline-block;
    vertical-align: middle;
}
#header .logo {
    filter: contrast(0%) grayscale(100%) invert(100%) brightness(1000%);
    display: inline-block;
    vertical-align: middle;
}
#header .date {
    display: inline-block;
    vertical-align: middle;
    font-size: 2em;
    margin-left: 3em;
}
#body {
    position: absolute;
    top: 30%;
    margin-top: 3em;
    width: 100%;
}
#body.big {
    top: 40%;
}
.block-middle {
    width: 900px;
    margin: 0 auto;
    text-align: justify;
}
.block-middle.petit {
    width: 450px;
}
.petit h3 {
    margin: 0;
}
.pull-right {
    float: right;
}

fieldset {
    border: 0;
    border-top: 1px solid #007d9a;
}
fieldset legend {
    color: #007d9a;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 1.2em;
}
.text-center {
    text-align: center;
}
dl {
    text-align: left;
    display: block;
    margin: 0 auto;
    width: 500px;
    line-height: 1.4em;
}
dt, dd {
    display: inline-block;
    margin: 0;
}
dt {
    color: #2daebf;
    font-weight: 100;
    width: 100px;
}

.sponsors img {
    display: inline-block;
    height: 100px;
    margin: 20px;
}

label {
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 20px;
}
input {
    background: none;
    border: 1px solid #2daebf;
    color: white;
}
input:focus {
    border: 1px solid #007d9a;
}
a.link {
    cursor: pointer;
}
.nbp {
    display: inline-block;
    width: 100px;
}
tr, td {
    vertical-align: middle;
}
table {
    margin: 0 auto;
}
.pull-right {
    float: right;
}
.marges {
    margin-left: 20px;
}
