<div class="block-middle petit">
    <h4>Pas encore de compte ? <a title="Inscrivez-vous" href="#/inscription">Inscription</a></h4>
    <h4>Un problème ? <a title="Contacter l'équipe" href="mailto:24hnatation@binets.polytechnique.fr">24hnatation@binets.polytechnique.fr</a></h4>

    <form ng-submit="connexion()">
        <h4 class="text-center">{{ message }}</h4>
        <label for="username">Email :</label>
        <input type="email" ng-model="user.email" /><br />

        <label for="password">Mot de passe :</label>
        <input type="password" ng-model="user.password" /><br /><br />
        <div class="text-center">
            <input type="submit" value="Connexion" />
        </div>
    </form>
</div>
