<div class="block-middle petit">
    <fieldset>
        <legend>Président</legend>
        Pierre Van De Velde
        <span class="pull-right">
            06 85 78 22 30
        </span>
    </fieldset>
    <br /><br />
    <fieldset>
        <legend>Vice-président</legend>
        Alexandre Cornet
        <span class="pull-right">
            06 35 58 72 46
        </span>
    </fieldset>
    <br /><br />
    <fieldset>
        <legend>Trésorier</legend>
        Paul Giovachini
        <span class="pull-right">
            06 15 53 43 52
        </span>
    </fieldset>
</div>
