<div class="block-middle petit">
    <fieldset>
        <legend>Président</legend>
        Pierre Van De Velde
        <span class="pull-right">
            06 01 02 03 04
        </span>
    </fieldset>
    <br /><br />
    <fieldset>
        <legend>Vice-président</legend>
        Alexandre Cornet
        <span class="pull-right">
            06 01 02 03 04
        </span>
    </fieldset>
    <br /><br />
    <fieldset>
        <legend>Trésorier</legend>
        Paul Giovachini
        <span class="pull-right">
            06 01 02 03 04
        </span>
    </fieldset>
</div>
