<div class="block-middle">
    <img src="images/affiche.jpg" alt="24h" class="pull-right marges" width="420" />

    Les 24h Natation est l’évènement sportif majeur de la section Natation qui aura lieu les 25 et 26 février 2016 au niveau des piscines de l’École polytechnique.<br />
<br />
Bien plus qu’un simple défi sportif, cet évènement a une portée caritative : pour chaque kilomètre parcouru, ce sont 10€ qui sont reversés à l'association Les Bambins d’Ambalavao.<br />
<br />
Au programme : un relais géant de 24 heures ouvert à tous ! Pas besoin d’être un pro de la natation ni de maitriser une nage particulière : tout le monde peut y participer.<br />
<br />
Venez nager et profiter des multiples activités que l’on vous propose : baptêmes de plongée, démonstration de natation synchronisée, water-polo, Styx-pool…<br />
<br />
<h4>Les Bambins d’Ambalavao</h4>

Les Bambins d’Ambalavao est une association créée le 28 septembre 2011.

Son objectif est de soutenir les projets d’une école francophone privée laïque à caractère social, de permettre à tout enfant d’accéder à la connaissance et de dispenser un enseignement bilingue indispensable à la poursuite d’études techniques ou supérieures à Madagascar.

Les dons des adhérents et les différentes actions menées par l'association permettent d’aider aux constructions nécessaires, aux équipements, aux différents besoins de l’école (livres, matériel scolaire, médicaments, cantine …).
</div>
