<p class="block-middle">
    Les 24h Natation est l’évènement sportif majeur de la section Natation qui aura lieu les 19 et 20 février 2015 au niveau des piscines de l’Ecole Polytechnique.<br />
<br />
Bien plus qu’un simple défi sportif, cet évènement a une portée caritative : pour chaque kilomètre parcouru, ce sont 10€ qui sont reversés à l'association Ad Augusta qui accompagne la réinsertion socio-professionnelle des blessés de la Défense.<br />
<br />
Au programme : un relais géant de 24 heures ouvert à tous ! Pas besoin d’être un pro de la natation ni de maitriser une nage particulière : tout le monde peut y participer.<br />
<br />
Venez nager et profiter des multiples activités que l’on vous propose : baptêmes de plongée, démonstration de natation synchronisée, water-polo, Styx-pool,…<br />
<br />
</p>
