<div class="block-middle">
    <img src="images/affiche1.jpg" alt="24h" class="pull-right marges" width="350" />

    Les 24h Natation est l’évènement sportif majeur de la section Natation qui aura lieu les 19 et 20 février 2015 au niveau des piscines de l’Ecole Polytechnique.<br />
<br />
Bien plus qu’un simple défi sportif, cet évènement a une portée caritative : pour chaque kilomètre parcouru, ce sont 10€ qui sont reversés à l'association Imagine for Margo.<br />
<br />
Au programme : un relais géant de 24 heures ouvert à tous ! Pas besoin d’être un pro de la natation ni de maitriser une nage particulière : tout le monde peut y participer.<br />
<br />
Venez nager et profiter des multiples activités que l’on vous propose : baptêmes de plongée, démonstration de natation synchronisée, water-polo, Styx-pool,…<br />
<br />
<h4>Imagine for Margo</h4>
1 enfant sur 440 aura un cancer avant l'âge de 15 ans, 2000 enfants sont diagnostiqués chaque année en France et 500 enfants en meurent. C'est la première cause de mortalité par maladie des enfants.<br />
L’association « Imagine for Margo » se mobilise pour mener des actions de sensibilisation et de collecte de fonds afin d’aider la recherche européenne sur des traitements spécifiques, innovants et plus efficaces pour les enfants atteints de cancer. Elle vise également à apporter du soutien aux familles concernées et contribuer au bien être des enfants hospitalisés.

</div>
