<div class="text-center">
    <h3>Comment participer ?</h3>
    <div class="block-middle">
        <strong>Toutes les activités sont libres et gratuites.</strong><br /><br />

        Pour assister aux spectacles et démonstrations, accédez librement aux tribunes à l'heure indiquée.<br /><br />

        Pour participer au relais géant (en individuel ou en groupe) ainsi qu'aux autres activités (waterpolo, challenge natation, etc.), vous devez vous inscrire ici et prévoir d'arriver en avance pour commencer à nager à l'heure prévue ! Evidemment les non-inscris sont aussi les bienvenus tout au long de l’événement, mais on ne pourra pas leur garantir de place sur un créneau du relais ou dans une équipe, il est donc vivement conseillé de s’inscrire !
    </div>

    <h3>Jeudi 11h / Vendredi 11h</h3>

    <dl ng-repeat="p in programme">
        <dt>{{ p.debut }} - {{ p.fin }}</dt>
        <dd>{{ p.nom }}</dd>
    </dl>
</div>
