<fieldset>
    <legend>Fil rouge</legend>
    <strong>
        Attention : présentez-vous au bord du bassin 5 minutes avant le début de votre créneau !
        Tout créneau inscrit doit être honoré !
    </strong>
    <ul>
    <li>Le relais fil rouge est ouvert à tous.</li>
    <li>L’inscription au relais fil rouge se fait par créneaux de cinq minutes. </li>
    <li>L’inscription est nominative. Le participant peut néanmoins venir accompagné d’autres personnes sur son créneau (c’est mieux !)</li>
    <li>Le style de nage est libre.</li>

    <li>Seuls les créneaux inscrits sur le site seront comptabilisés pour l’association.</li>

    <li>Challenge individuel/section/binet :
    En arrivant, vous indiquez votre nom, section et le binet pour lequel vous voulez concourir.
    Les points sont bonifiés en fonction de l’horaire choisi.
    Les sections natation 2012 et 2013 sont hors concours !</li>
    </ul>
</fieldset>

<fieldset>
    <legend>Challenge natation</legend>
    Un challenge de natation pas comme les autres ! Viens déguisé(e), représenter ta section ou ton binet !
    <br /><br />
    Le challenge est à l’australienne :
    <ul>
        <li>il est individuel</li>
        <li>les courses s’effectueront dans la largeur du bassin (courte distance, donc ;) )</li>
        <li>à chaque course, le ou les moins rapides seront éliminés... il n’en restera qu’un !!</li>
        <li>les nages changeront à chaque course : du petit chien à la nage indienne, sans oublier les grands classique (pap, dos, brasse, crawl) : il y en aura pour tous les gouts, surtout ceux des non nageurs ! Alors tente ta chance !</li>
    </ul>
    Le nombre de participants est illimité, alors viens comme tu es !
</fieldset>

<fieldset>
    <legend>Tournoi de water-polo</legend>
    <ul>
    <li>Le tournoi de water-polo est ouvert à tous.</li>
    <li>Les équipes sont composées de 6 personnes.</li>
    <li>De 17h30 à 19h30, une phase de poules sera organisée. La finale aura lieu à 21h30.</li>
    <li>Des récompenses pour les 3 meilleures équipes !</li>
    </ul>
</fieldset>
