<fieldset>
    <legend>Fil rouge</legend>
    <strong>
        Attention : présentez-vous au bord du bassin 5 minutes avant le début de votre créneau !
        Tout créneau inscrit doit être honoré !
    </strong>
    <ul>
    <li>Le relai fil rouge est ouvert à tous.</li>
    <li>L’inscription au relai fil rouge se fait par créneaux de cinq minutes. </li>
    <li>L’inscription est nominative. Le participant peut néanmoins venir accompagné d’autres personnes sur son créneau (c’est mieux !)</li>
    <li>Le style de nage est libre.</li>

    <li>Seuls les créneaux inscrits sur le site seront comptabilisés pour l’association.</li>

    <li>Challenge individuel/section/binet :
    En arrivant, vous indiquez votre nom, section et le binet pour lequel vous voulez concourir.
    Les points sont bonifiés en fonction de l’horaire choisi.
    Les sections natation 2012 et 2013 sont hors concours !</li>
    </ul>
</fieldset>

<fieldset>
    <legend>Challenge natation</legend>
    Un challenge de natation pas comme les autres ! Viens déguisé, représenter ta section ou ton binet !
    <ul>
    <li>Le challenge se nage par équipes de 5.</li>
    <li>La composition des équipes est libre.</li>
    <li>Le challenge consiste en un relai 5x50m nage libre.</li>

    <li>Plusieurs prix sont décernés :
    L’équipe ayant réalisé le meilleur temps
    L’équipe au thème/déguisement le plus original
    Le prix spécial du jury : surprenez-nous !</li>

    <li>L’horaire de passage de votre équipe vous sera communiqué une fois les inscriptions closes.</li>
    </ul>
</fieldset>

<fieldset>
    <legend>Tournoi de water-polo</legend>
    <ul>
    <li>Le tournoi de water-polo est ouvert à tous.</li>
    <li>Les équipes sont composées de 6 personnes.</li>
    <li>De 17h30 à 19h30, une phase de poules sera organisée. La finale aura lieu à 21h30.</li>
    <li>Des récompenses pour les 3 meilleures équipes !</li>
    </ul>
</fieldset>
